DATABASE_URL = "databaseConnection://userName:password@yourHost:yourDatabasePort/databaseName"

PORT = yourPort

TYPEORM_CONNECTION = yourDatabaseConnection
TYPEORM_HOST = yourHort
TYPEORM_USERNAME = yourUserName
TYPEORM_PASSWORD = yourPassword
TYPEORM_DATABASE = yourDatabase
TYPEORM_PORT = yourPort
TYPEORM_LOGGING = TRUE

ALGORITHM = ALGORITHM
JWT_SECRETKEY = yourSecretKey
JWT_EXPIRES_IN = EXP_DATE

KAKAO_REST_API_KEY = your KAKAO_REST_API_KEY
kAKAO_REDIRECT_URI = your KAKAO_REDIRECT_URI